<html>
  <head>
    {% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
    <title>PDF page</title>
    <style>
      #tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
      }

      th,
      td {
        padding: 10px;
        border: 1px solid black;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center mb-1">
      <div class="border border-dark p-2" style = "font-color = black">
        <h3>بضاعة مشتراة عن يوم {{date |date:"Y/m/d"}}</h3>
      </div>
    </div>
    <div class="container">
      <div id="tab">
        <table dir="rtl">
          <tr dir="rtl">
            <th>اسم الصنف</th>
            <th>الكمية</th>
            <th>عدد القطع</th>
            <th>اجمالي القطع</th>
            <th>سعر الشراء</th>
            <th>سعر القطعة</th>
            <th>سعر البيع</th>
            <th>الربح</th>
          </tr>
          {%for motagra_details in motagrat_details%}
          <tr>
            <td>{{motagra_details.product.name}}</td>
            <td>{{motagra_details.qty}}</td>
            <td>{{motagra_details.pieces}}</td>
            <td>{{motagra_details.total_pieces_for_product}}</td>
            <td>{{motagra_details.buy_price}}</td>
            <td>{{motagra_details.piece_price}}</td>
            <td>{{motagra_details.total_sell_price_value}}</td>
            <td>{{motagra_details.profit}}</td>
          </tr>
          {% endfor %}
          <tfoot>
            <tr>
              <td colspan="4">الإجمالي </td>
              <td>{{ total_buy_price }}</td>
              <td></td>
              <td>{{ total_sell_price }}</td>
              <td>{{ total_profit }}</td>
            </tr>
          </tfoot>
        </table>
       </div>
      </div>
    </div>
  </body>
</html>
